#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Extrabld.woff2') format("woff2"), url('../fonts/ProximaNova-Extrabld.woff') format("woff");
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Bold.woff2') format("woff2"), url('../fonts/ProximaNova-Bold.woff') format("woff");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.woff2') format("woff2"), url('../fonts/ProximaNova-Regular.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}


body, html {
  height: 100%;
  // overflow-x: hidden;
}

body {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  width: 100%;
}

p {
  color: #494949;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 18px;
}

.navbar {
  max-width: 1600px;
  margin: 0 auto;
  .navbar-toggler:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

.btn {
  &:focus, &.focus, &:active {
    box-shadow: none !important;
    outline: none !important;
  }
}

.form-control:focus {
  box-shadow: none !important;
  outline: none !important;
}

a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  &:hover {
    color: #00adee;
    text-decoration: none;
  }
}

.btn-block {
  padding: 12px 0;
  font-size: 20px;
  max-width: 500px;
  margin: 50px auto 0;
}

.hero .container, .header .container, .container {
  max-width: 1440px;
  margin: auto;
}

header {
  background: #fff;
  .container {
    padding: 0;
  }
}

.brand {
  height: auto;
  width: 250px;
  padding: 0;
  img { 
    max-width: 100%;
    max-height: 100%;
  }
}

.nav-link {
  color: #575d6f;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border-radius: 0.25rem;
}

.slide {
  padding: 40px 0;
  &.bg-light-gray {
    background-color: #eff4ff;
  }
  &.bg-gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f1f5), color-stop(35%, white));
    background: -webkit-linear-gradient(top, #f0f1f5 0%, white 35%);
    background: -o-linear-gradient(top, #f0f1f5 0%, white 35%);
    background: linear-gradient(to bottom, #f0f1f5 0%, white 35%);
  }
}

.btn-style1 {
  background: #fff;
  border: 1px solid #b7b7b7;
  font-weight: bold;
  color: #575d6f;
  border-radius: 3px;
  padding: 8px 30px;
  &:hover {
    background: #fff;
    color: #00adee;
    border: 1px solid #00adee;
  }
}

.btn-style2 {
  background: #004679;
  border: 1px solid #004679;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  padding: 8px 30px;
  &:hover {
    background: #007ab4;
    color: #fff;
    border: 1px solid #036ea1;
  }
}

.nav {
  .btn-style1, .btn-style2 {
    padding: 8px 15px;
  }
}

h1, h2, h3 {
  font-weight: 800;
}

.hero {
  h1, p {
    color: #fff;
  }
}

.bg-grey {
  background: #f3f3f3;
}

.title-container {
  text-align: center;
  margin-top: 30px;
}

.spacer1 {
  height: 50px;
}

.two-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  > div {
    -ms-flex-preferred-size: 50%;
    flex-basis: 100%;
    img {
      max-width: 100%;
      max-height: 300px;
    }
    &.image-phone {
      flex-basis: 324px;
      background: radial-gradient(#e0e0e0 5%, white 81%);
      border-radius: 50%;
      @media (max-width: 700px){
        display: none; 
      }
    }
  }
}

.layout2 {
  .boxes {
    position: relative;
    text-align: center;
    padding-bottom: 300px;
    border-radius: 10px;
    background: white;
    padding: 40px 0 200px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    p {
      font-size: 22px;
      line-height: 1.3;
    }
    .icon {
      height: 92px;
      width: 100px;
      margin: 0 auto 20px;
      &.icon1 {
        background: url(../img/graphic2.png) center no-repeat;
        background-size: contain;
      }
      &.icon2 {
        background: url(../img/graphic3.png) center no-repeat;
        background-size: contain;
      }
      &.icon3 {
        background: url(../img/graphic4.png) center no-repeat;
        background-size: contain;
      }
    }
    .box-img {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 200px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.text-blue {
  color: #00aeef;
}

.text-green {
  color: #b2e300;
}

.text-orange {
  color: #f9b841;
}

.footer-top {
  background: #f3f3f3;
  border-top: 1px solid #b7b7b7;
  text-align: center;
  padding: 15px 0;
  p {
    margin: 0;
  }
}

footer {
  background: #00adee;
  a, p {
    color: #fff;
  }
}

.twitter {
  background: url(../img/icon-twitter.png) no-repeat;
  background-size: contain;
}

.facebook {
  background: url(../img/icon-facebook.png) no-repeat;
  background-size: contain;
}

.linkedin {
  background: url(../img/icon-linkedin.png) no-repeat;
  background-size: contain;
}

.mail {
  background: url(../img/icon-mail.png) no-repeat;
  background-size: contain;
}

.social {
  display: flex;
  flex-direction: column;
  ul {
    margin-bottom: 5px;
  }
  li {
    display: inline-flex;
    margin-left: 10px;
  }
}

.footer-menu a:hover, .social a:hover {
  opacity: 0.6;
  color: #fff;
}

.graphic1-container {
  padding-top: 60px;
  text-align: center;
}

.hero {
  background: url(../img/hero-bg-mobile.png) bottom no-repeat #00adee;
  background-size: cover;
  border-bottom: 25px solid #304658;
  overflow: visible;
  h1 {
    font-size: 3.6rem;
    line-height: 1;
    margin-bottom: 15px;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 45px;
    padding: 0 10px;
  }
  .btn-style2 {
    padding: 12px 35px;
    font-size: 20px;
    border-radius: 5px;
  }
}

.hero-text {
  padding-top: 60px;
}

h2, h3 {
  font-size: 46px;
  line-height: 1;
  margin-bottom: 15px;
  color: #004679;
}

h4 {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.newsletter .btn-style2 {
  padding: 12px 35px;
  font-size: 20px;
  border-radius: 5px;
  display: inline-block;
}

.footer-provider {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  a {
    padding: 12px 36px;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
  }
}

.social {
  a {
    height: 36px;
    width: 36px;
  }
  ul {
    -ms-flex-item-align: center;
    align-self: center;
    padding-left: 0;
  }
}

.img-placeholder {
  text-align: center;
}

.text-content {
  padding: 40px 0;
}


.text-content h2, .signup-container h3 {
  text-align: center;
  margin-bottom: 20px;
}

.text-content {
  .last-updated {
    font-size: 16px;
    padding: 10px 15px;
    color: #333;
    text-align: center;
    margin: auto;
    background: #eee;
    display: block;
    width: 300px;
  }
  hr {
    margin: 40px 0;
  }
  h4 {
    color: #494949;
  }
  p {
    margin-bottom: 25px;
  }
  ol {
    list-style-type: decimal !important;
  }
  li {
    padding-left: 10px;
    margin-bottom: 10px;
  }
}

.pp li {
  margin-bottom: 0;
}

.text-content a:hover {
  text-decoration: underline;
}

a {
  word-wrap: break-word;
  color: #00adee;
}

h4 a {
  color: #494949;
}

.layout3 {
  h1 {
    font-size: 3.6rem;
    color: #004679;
    line-height: 1;
  }
  .graphic {
    text-align: center;
    img {
      width: 450px;
    }
  }
}

ul.claude-list {
  list-style: none;
  margin-bottom: 0;
  li {
    background: url(../img/bullet.png) no-repeat;
    background-position: 0% 8px;
    background-size: 10px 10px;
    padding-left: 20px;
    font-size: 18px;
  }
}

.container {
  max-width: 1200px;
}

.mb-40 {
  margin-bottom: 40px;
}

@media (max-width: 400px) {
  .brand {
    width: 200px;
  }
}

@media (max-width: 767px) { 
  .nav-link {
    padding: .5rem .5rem;
  }
  .nav-item {
    width: 100%;
  }
  .hero {
    text-align: center;
  }
  .layout3 {
    padding-top: 30px;
  }
  .boxes {
    margin: 0 30px 20px;
    &.bg3 {
      margin-bottom: 0;
    }
  }
  .spacer2 {
    height: 70px;
  }
  .newsletter p {
    padding: 0 15px;
  }
  .footer-top {
    font-weight: bold;
  }
  .footer-provider {
    text-align: center;
    padding: 30px;
  }
  .footer-menu {
    display: inline-flex;
    text-align: center;
    a {
      padding: 15px 10px;
    }
  }
  .social {
    ul {
      padding-top: 30px;
    }
    p {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .footer-provider p {
    margin-bottom: 0;
  }
  .videos-home {
    padding: 60px 0;
    p {
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .col-md-6:nth-child(1) {
      margin-bottom: 30px;
    }
  }
  .member {
    margin-bottom: 40px;
  }
  
  .work-with-us {
    h2 {
      text-align: center;
    }
    h1 {
      letter-spacing: -1px;
    }
  }
  .faq .card-header .btn {
    padding: 0;
  }
  h4 {
    margin: 50px 0 20px;
  }
  .img-container {
    margin-bottom: 20px;
  }
  .img-offset-left img, .img-push-right img {
    padding: 0px 30px;
  }
  .spacer1 {
    height: 0;
  }
  .about-us h1 {
    text-align: center;
    padding: 0px 0 40px;
  }
  .text-content, .signup-container {
    padding: 60px 0 20px;
  }
}

@media (max-width: 991px) {
  .navbar-light {
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,70,121, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
  .nav-link {
    color: #575d6f;
    font-size: 18px;
    padding: .5rem .5rem;
  }
  .nav-item a {
    color: #fff;
  }
  .navbar {
    padding: 0;
  }
  .nav {
    background: #004679;
    border-top: 1px solid #575d6f;
    padding: 10px 0;
  }
  nav {
    .btn-style1, .btn-style2 {
      background: none;
      border: none;
      font-weight: normal;
    }
  }
  .brand {
    margin: 1rem;
  }
  .navbar-toggler {
    margin-right: 1rem;
  }
  .work-with-us .container, .privacy .container, .terms .container, .work-with-us .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
  // ...
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .hero {
    background: url(../img/hero-bg.png) bottom no-repeat #00adee;
    background-size: cover;
    border-bottom: 25px solid #304658;
    overflow: visible;
  }
  .nav-link {
    font-size: 20px;
    padding: .5rem 1.5rem;
    &.active {
      color: #00adee;
    }
  }
  .hero-text {
    padding-top: 90px;
    padding-left: 50px;
  }
  .hero .container {
    height: 500px;
  }
  .graphic1-container {
    padding: 0;
    text-align: left;
    img {
      margin: 0 0 -13px -30px;
    }
  }
  .layout1 {
    .graphic1 {
      padding-top: 120px;
    }
    .order-md-2 {
      padding-right: 40px;
    }
  }
  .layout1-text {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  /*.video-container {
      margin: 20px auto 50px;
  }*/
  .boxes {
    p {
      font-size: 16px;
      line-height: 1.3;
    }
  }
  .title-container p {
    margin-bottom: 40px;
  }
  .newsletter p {
    padding: 0 50px;
  }
  .spacer2 {
    height: 70px;
  }
  footer .container {
    padding: 30px;
  }
  .footer-provider {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    p {
      margin-bottom: 0;
      font-size: 16px;
    }
    a {
      padding: 10px 16px;
      font-size: 14px;
      border-radius: 5px;
      display: inline-block;
      margin-top: 5px;
    }
  }
  .footer-menu a {
    display: block;
    font-size: 14px;
  }
  .social {
    ul {
      -ms-flex-item-align: end !important;
      align-self: flex-end !important;
      a {
        font-size: 12px;
      }
    }
    p {
      text-align: right;
      margin-bottom: 0px;
    }
  }
  .videos-home {
    padding: 80px 0;
    p {
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  .layout5 {
    margin-bottom: 20px;
    .avatar {
      height: 100px;
      width: 100px;
      margin: 0 auto 20px;
    }
    .member-name {
      font-weight: bold;
      color: #007ab4;
      font-size: 16px;
      line-height: 1.2;
    }
    .member-position {
      font-weight: normal;
      font-size: 14px;
      line-height: 1.2;
    }
  }
  .layout4-text {
    padding: 50px 50px 0;
  }
  .card-body {
    font-size: 1rem;
    padding: 4px 10px 40px;
  }
}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
  .navbar {
    padding: 0.7rem 1rem;
  }
  .nav-link {
    color: #575d6f;
  }
  nav .btn-style1 {
    margin-right: 15px;
    margin-left: 15px;
  }
  .hero-text {
    padding-top: 120px;
    padding-left: 80px;
  }
  .graphic1-container {
    padding: 0 10px 0 80px;
    text-align: left;
    img {
      margin: 0 0 -10px 0;
    }
  }
  .layout1 .order-md-2.align-self-center {
    padding-right: 90px;
  }
  .layout2 .boxes {
    padding-bottom: 300px;
    .box-img {
      height: 300px;
    }
  }
  .text-cut::after {
    content: "\A";
    white-space: pre;
    clear: both;
  }
    /*.video-container {
		background: url(../img/video-placeholder.png) no-repeat #d39543;
		width: 930px;
		height: 522px;
		margin: 120px auto 105px
	}*/
  .btn-style1 {
    padding: 8px 30px;
  }
  .btn-style2 {
    padding: 8px 30px;
    color: #fff;
  }
  .layout1 .order-md-2 {
    padding-right: 0px;
  }
  .boxes {
    p {
      font-size: 18px;
      line-height: 1.3;
    }
  }
  footer .container p {
    margin-bottom: 0;
  }
  .spacer2 {
    height: 80px;
  }
  .footer-provider {
    font-weight: bold;
    letter-spacing: 1px;
    p {
      font-size: 18px;
    }
    a {
      padding: 5px 26px;
      font-size: 18px;
      border-radius: 5px;
      display: inline-block;
      margin-top: 5px;
    }
  }
  .footer-menu a {
    display: block;
    font-size: 16px;
  }
  p {
    font-size: 19px;
    margin-bottom: 40px;
  }
  .social p {
    font-size: 16px;
  }
  .layout1-text {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .videos-home {
    padding: 80px 0;
    p {
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  .text-content {
    padding: 80px 0;
  }
  .signup-container {
    padding: 80px 0 0;
    p {
      padding: 0 90px;
      margin-bottom: 30px;
    }
  }
  .text-content {
    p {
      font-size: 16px;
      margin-bottom: 25px;
    }
    ol {
      list-style-type: decimal !important;
      font-size: 16px;
    }
  }
  .layout4 {
    background: url(../img/building-bg.png) no-repeat bottom #f3f3f3;
    background-size: cover;
    padding: 70px 0;
  }
  .blue-box {
    padding: 50px 80px 80px;
    border-radius: 10px;
    .divider2 {
      height: 8px;
      width: 120px;
      margin: 0 auto 42px;
    }
    p {
      margin-bottom: 0;
    }
  }
  .layout4-text {
    padding: 50px 50px 0;
    p {
      margin-bottom: 30px;
    }
    li {
      background: url(../img/bullet.png) no-repeat;
      background-position: 0% 8px;
      background-size: 12px 12px;
      padding-left: 30px;
      font-size: 19px;
    }
  }
  .layout5 {
    padding: 20px 0;
    .avatar {
      border-radius: 190px;
      height: 130px;
      width: 130px;
      margin: 0 auto 20px;
    }
    .member p {
      margin-bottom: 0;
    }
    .member-name {
      font-size: 22px;
      line-height: 1.2;
    }
    .member-position {
      font-size: 17px;
    }
  }
  .work-with-us .layout4-text .btn-style2 {
    padding: 10px 36px;
    font-size: 26px;
    border-radius: 5px;
    display: inline-block;
    margin: 40px 0 20px;
  }
  .text-style1 {
    font-size: 28px;
  }
  .work-with-us {
    hr {
      margin: 50px 0;
    }
    .page-title {
      margin-top: 60px;
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 30px;
    }
  }
  .faq .page-title {
    margin: 60px 0;
    h1 {
      line-height: 1;
    }
  }
  .card-header {
    padding: 15px 10px;
  }
  .faq .card-header .btn {
    font-size: 22px;
  }
  .card-body {
    font-size: 19px;
    padding: 4px 30px 40px;
  }
  .img-offset-left {
    left: -80px;
    position: absolute;
    width: 90%;
  }
  .img-push-right {
    right: -70px;
    position: absolute;
    z-index: 10;
    width: 90%;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  .nav {
    .btn-style1, .btn-style2 {
      padding: 8px 30px;
    }
  }
  .hero {
    background: url(../img/hero-bg.png) bottom no-repeat #00adee;
    background-size: contain;
    border-bottom: 35px solid #304658;
    overflow: visible;
    .container {
      height: 772px;
    }
    h1 {
      font-size: 96px;
      line-height: 1;
      margin-bottom: 15px;
    }
    p {
      font-size: 26px;
      line-height: 1.5;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 65px;
    }
    .btn-style2 {
      padding: 23px 55px;
      font-size: 26px;
      border-radius: 5px;
    }
  }
  .hero-text {
    padding-top: 170px;
    padding-left: 40px;
  }
  .layout1 .order-md-2.align-self-center {
    padding-right: 30px;
  }
  .graphic1-container {
    /* padding: 0; */
    text-align: left;
    img {
      margin: 0 0 -11px 0;
    }
  }
    /*.graphic1-container img {
		margin: 0 0 -91px 40px;
	}*/
  h2 {
    font-size: 72px;
    line-height: 1;
    margin-bottom: 30px;
    color: #004679;
  }
  h3 {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 35px;
    color: #004679;
  }
  .layout1 p {
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 40px;
  }
  p {
    font-size: 22px;
    &.no-margin {
      margin-bottom: 0;
    }
  }
  .layout1 .graphic1 {
    padding-top: 90px;
  }
  .title-container p {
    font-size: 26px;
  }
  .boxes {
    p {
      span {
        font-size: 32px;
        font-weight: bold;
      }
      font-size: 22px;
      line-height: 1.3;
    }
  }
  .newsletter .btn-style2 {
    padding: 16px 60px;
    font-size: 26px;
    border-radius: 5px;
    display: inline-block;
  }
  .platform p {
    padding-left: 30px;
    padding-right: 30px;
  }
  .newsletter p {
    padding-left: 220px;
    padding-right: 220px;
  }
  .footer-top p {
    font-size: 26px;
    font-weight: bold;
  }
  footer {
    padding-left: 30px;
    padding-right: 30px;
    .container {
      padding: 40px 0;
    }
  }
  .footer-menu a {
    display: block;
    font-size: 18px;
  }
  .footer-provider {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    a {
      padding: 10px 36px;
      font-size: 18px;
      border-radius: 5px;
      display: inline-block;
      margin-top: 5px;
    }
  }
  .social p {
    font-size: 18px;
  }
  .footer-provider p {
    font-size: 22px;
  }
  .spacer2 {
    height: 120px;
  }
  .videos-home {
    padding: 120px 0;
    p {
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  .layout4 {
    background: url(../img/building-bg.png) no-repeat bottom #f3f3f3;
    background-size: cover;
    padding: 70px 0;
  }
  .blue-box {
    padding: 50px 80px 80px;
    border-radius: 10px;
    .divider2 {
      height: 6px;
      width: 120px;
      margin: 0 auto 42px;
    }
    p {
      margin-bottom: 0;
    }
  }
  .layout4-text {
    padding: 50px 50px 0;
    p {
      margin-bottom: 30px;
    }
    li {
      background: url(../img/bullet.png) no-repeat;
      background-position: 0% 8px;
      background-size: 14px 14px;
      padding-left: 30px;
      font-size: 22px;
    }
  }
  .layout5 {
    padding: 20px 0;
    .avatar {
      border-radius: 190px;
      height: 190px;
      width: 190px;
      margin: 0 auto 30px;
    }
    .member p {
      margin-bottom: 0;
    }
    .member-name {
      font-size: 24px;
      line-height: 1.3;
    }
    .member-position {
      font-size: 20px;
    }
  }
  .work-with-us .layout4-text .btn-style2 {
    padding: 10px 36px;
    font-size: 26px;
    border-radius: 5px;
    display: inline-block;
    margin: 40px 0 20px;
  }
  .text-style1 {
    font-size: 28px;
  }
  .work-with-us hr {
    margin: 50px 0;
  }
  .page-title {
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .work-with-us {
    .page-title {
      margin-top: 80px;
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 30px;
    }
  }
  .faq .page-title {
    margin: 80px 0;
    h1 {
      line-height: 1;
    }
  }
  .card-header {
    padding: 25px 10px;
  }
  .faq .card-header .btn {
    font-size: 24px;
  }
  h4 {
    font-size: 36px;
  }
  .card-body {
    font-size: 22px;
    padding: 4px 20px 40px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .social {
    a {
      height: 26px;
      width: 26px;
    }
    p {
      font-size: 14px;
    }
  }
  .layout3 {
    padding: 40px 15px 20px;
  }
  .about-us .layout3 {
    padding: 30px 15px;
  }
  .work-with-us .page-title {
    margin-bottom: 0;
  }
  .faq .page-title {
    margin: 0 0;
  }
  .card-header {
    padding: 20px 0px;
    .btn {
      padding-left: 0;
    }
  }
  .card-body {
    font-size: 1rem;
    padding: 0px 0px 40px;
  }
  h4 {
    font-size: 28px;
    margin-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .layout4 {
    padding: 50px 0;
  }
  .spacer2 {
    height: 40px;
  }
  .spacer1 {
    height: 20px;
  }
  .hero .container {
    height: 460px;
  }
  .layout1-text {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .videos-home {
    padding: 40px 0;
  }
  .title-container p {
    margin-bottom: 25px;
  }
  .hero-text {
    padding-top: 80px;
    padding-left: 50px;
  }
}

@media screen and (min-width: 769px) and (max-width: 990px) {
  .faq .page-title, .page-title {
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {}